.App {
  box-sizing: border-box;
  text-align: center;
}

.CalcContainer {
  width: 300px;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(to top, #1a1d23, #2f4f7f); /* darker blue to lighter blue gradient */
}

.CalcDisplay {
  border: 1px solid #1a1d23; /* dark blue border */
  margin-bottom: 20px;
  padding: 5px;
  height: 40px;
  font-size: 2em;
  text-align: right;
  background-color: #1a1d23; /* dark blue background */
  color: white;
  border-radius: 10px;
}

.ButtonContainer {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
}

.ButtonContainer > button {
  justify-content: center;
  border: 1px solid #1a1d23; /* dark blue border */
  padding: 7px;
  color: white;
  font-size: 2em;
  background: linear-gradient(to top, #1a1d23, #2f4f7f); /* darker blue to lighter blue gradient */
  border-radius: 10px;
}